body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333;
  transition: background 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #f8f7f7;
}

body.dark-mode .nav-link {
  color: #f0f0f0;
}

body.dark-mode .nav-link.router-link-active {
  background-color: rgba(255, 255, 255, 0.1);
}

body.dark-mode .navbar {
  background-color: #1e1e1e;
}

body.dark-mode .btn-comprar {
  background-color: #2e7d32;
}
body.dark-mode .btn-comprar:hover {
  background-color: #1b5e20;
}


button {
  background-color: #42b983;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #36976e;
}

body.dark-mode .login-button {
  background-color: #333;
  color: #42b983;
}

body.dark-mode .logout-button {
  background-color: #e53935;
}
